html,body,* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font:inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

.main-container {
  min-height: calc(100vh - 50px);
}

.main-container .app-name {
  background-color: #001529;
  text-align: center;
  color: #fff;
  line-height: 64px;
  font-weight: bold;
  font-size: 16px;
}